body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
  padding: 40px;
}

input, button {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  background: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
